:root {
  --heading-font-family: "Poppins", sans-serif;
  --content-font-family: "Playfair Display", serif;
  --branding-color: #ffcab0;
}

body {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: var(--heading-font-family);
}

p {
  font-family: var(--content-font-family);
}

a {
  color: #fff;
  text-decoration: none;
}

.hero {
  background: #ffebbb;
  padding: 130px 30px;
}

.hero h1 {
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 25px;
}

.hero h3 {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
}

.hero p {
  font-size: 24px;
  padding-bottom: 30px;
}

.container h5 {
  font-size: 35px;
  font-weight: 600;
  margin-top: 50px;
}

.container p {
  font-size: 16px;
  opacity: 0.8;
  line-height: 1.5;
}

.project-description {
  text-align: left;
  padding: 50px 70px;
}

#contact-button {
  background: var(--branding-color);
  color: #fff;
  font-size: 18px;
  padding: 15px 25px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#project-button {
  background: transparent;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}

#project-button:hover {
  background: var(--branding-color);
  color: #fff;
}

.content-container {
  padding: 130px 30px;
}

.content {
  margin: 30px;
 }

.content h2 {
  font-size: 50px;
  font-weight: 600;
}

.content h4 {
  font-size: 30px;
}

.content h6 {
  font-size: 23px;
  font-weight: 600;
  margin-top: 15px;
}

.content p {
  font-size: 17px;
  line-height: 2;
}

@media (max-width: 992px) {
  .hero {
    padding: 75px 15px;
  }
  .hero h1 {
    font-size: 55px;
  }
  .hero p {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .container {
    padding: 15px 20px;
  }
  .container h5 {
    font-size: 27px;
    margin: 10px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }  
  .content h2 {
    font-size: 40px;
  }
}

/*font-family: 'Kaushan Script', cursive;